body{
    background-color: aqua;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
h5{
    color: royalblue;
    font-size: large;
    
}
h1{
    color: magenta;
}

.P1{
    background-color: red;
    margin-left: 40%;
    width: 300px;
    border-radius: 20px;
    
    
}

.P1 :hover{
    background-color: blueviolet;
    border-radius: 20px;
    width: 300px;
    border: 1px solid blueviolet;
}

.p2{
    width: 300px;
    color: rgb(238, 14, 14);
    text-align: left;
    margin-left: 40%;
}